#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.dice-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	pointer-events: none;
}

.dice-container canvas {
	pointer-events: auto;
}

.button-overlay {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.text-overlay {
	position: fixed;
	top: 0rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.image-generated {
	/* max-width: 20%; */
	border-radius: 8px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.player-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.dice-overlay {
	position: fixed;
	top: 30%;
	left: 0%;
	transform: translate(-50%, -50%);
	z-index: 2;
	pointer-events: none;
}

.carousel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	pointer-events: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  position: relative;
  color: blueviolet;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}
